extends ../../layouts/header.pug

block title
    title #{title }
block bodyContent 
    h1 Thank you

    p We have sent email to 
        a(href="#") #{email} 
        to verify your email address. Please check the email and verify.