extends ../../layouts/header.pug

block title
    title= title 
block bodyContent 
    h1 Thank you

    p We have sent email to 
        a #{email} to verify your email address. Please verify the email.