extends ../../layouts/header.pug

block title
    title= title
block css
    link(rel="stylesheet", href="/css/login.css")
block js
    script(src="/js/login.js" defer) 
block bodyContent
    .login_container
        .login_wrapper
            h3.text-secondary Create new password 
            form(action="/create-new-password" method="post")
                
                label(for="password") 
                    b New password
                
                input(type="password" name="password" id="password" placeholder="Create new password" class="form-control" value= user?user.password:"")
                if error.password
                    p(class="error email_error") #{error.password.msg+"*"}

                label(for="password") 
                    b Confirm password 
                input(type="password" name="confirmPassword" id="confirmPassword" placeholder="Retype password" class="form-control" value= user?user.confirmPassword:"")
                if error.confirmPassword
                    p(class="error email_error") #{error.confirmPassword.msg+"*"}
                
                input(type="hidden" name="otp" value= user? user.otp : "")
                input(type="hidden" name="otpId" value= user? user.otpId : "")
                input(type="hidden" name="email" value= user? user.email : "")
            
                input(type='submit' name="submit" value="Save & Login" id="login" class="form-control my-4" )

                div.login_bottom_link.px-2 
                    p New user? 
                        a(href="/register") Register here
                   


            
    
