extends ../../layouts/header.pug

block title
    title= title
block css
    link(rel="stylesheet", href="/css/login.css")
block js
    
block bodyContent
    .login_container
        .login_wrapper
            h3.text-secondary Reset Password 
            form(action="/reset-password" method="post")
                
                label(for="email") 
                    b Username or Email
                
                input(type="text" name="email" id="email" placeholder="Username or email" class="form-control" value= user? user.email: '')
                //- i.fa-solid.fa-user
                if error && error.email
                    p(class="error email_error") #{error.email.msg+"*"}


                input(type='submit' value="Reset" id="login" class="form-control my-4 btn btn-danger bg-danger" )

                div.login_bottom_link.px-2 
                    p Need to login? 
                        a(href="/login") Click here
                
              


            
    
