extends ../../layouts/header.pug

block title
    title= title 
block bodyContent 
    div.text-center
        h1 Thank you!
        p Your account was verified successful ! 
        p Now you can 
            a(href="/login") Sign In