$lightColor: #eff1f1;
$primaryColor: #50abf1;
$whiteColor: #ffffff;
$grayColor: gray;

.chat_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 91vh;
}
.chat_header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid $lightColor;
  padding: 15px;
  //   flex-basis: 50px;
  .chat_image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    img {
      width: 100%;
    }
  }
  .chat_name {
  }
}

.chat_message {
  flex-grow: 1;
  padding: 15px;
}
.chat_footer {
  display: flex;
  justify-content: space-around;
  //   flex-basis: 50px;
  padding: 15px;
  textarea {
    border: none;
    outline: none;
    flex-grow: 1;
    resize: unset;
    font-size: 20px;
    background-color: $lightColor;
    border-radius: 25px;
    margin-right: 10px;
    padding: 10px 15px;
  }
  button {
    border: none;
    font-size: 22px;
    color: #50abf1;
    background-color: unset;
  }
}
