$lightColor: #eff1f1;
$primaryColor: #50abf1;
$whiteColor: #ffffff;
$grayColor: gray;

.profile_container {
  position: relative;
  .cover {
    background-color: $primaryColor;
    height: 180px;
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .updateCover {
      position: absolute;
      top: 45%;
      left: 48%;
      border: none;
      outline: none;
      display: none;
      background-color: #7574746c;
      border-radius: 50%;
      i {
        color: #fff;
        font-size: 24px;
        padding: 10px;
      }
    }
    &:hover .updateCover {
      display: block;
    }
  }

  .avatar {
    height: 120px;
    width: 120px;
    border: 3px solid $whiteColor;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 15px;
    // overflow: hidden;
    transition: 0.3s;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .updateAvatar {
      position: absolute;
      left: 42px;
      top: 42px;
      border: none;
      outline: none;
      display: none;
      background-color: rgba(86, 85, 85, 0.393);
      border-radius: 50%;
      i {
        font-size: 24px;
        color: #fff;
        padding: 5px;
      }
    }
    &:hover .updateAvatar {
      display: block;
    }
  }
}

.action_btns {
  text-align: right;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  i {
    color: $primaryColor;
    font-size: 20px;
    border: 1px solid $primaryColor;
    padding: 5px 15px;
    border-radius: 25px;
    transition: 0.3s;
    &:hover {
      background-color: #50abf140;
    }
  }
}

.follow_btn {
  border: 1px solid $primaryColor;
  // padding: 3px 15px;
  height: 38px;
  width: 110px;
  border-radius: 25px;
  margin-left: 20px;
  font-weight: 500;
  color: $primaryColor;
  background-color: unset;
  transition: 0.3s;

  // &:hover {
  //   background-color: #50abf140;
  // }
}

.follow_container {
  padding: 15px;

  span {
    color: black;
    font-weight: 600;
    font-size: 18px;
  }
}

.user_details {
  padding: 0px 15px;

  p {
    color: $grayColor;
    font-weight: 300;
  }
}

.follow_container {
  a {
    color: $grayColor;
  }
}

.following,
.followers {
  margin-right: 10px;
  font-weight: 300;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.tabs_container {
  display: flex;
  justify-content: space-between;
  //   text-align: center;
  margin-bottom: 5px;
}

.tweets_tab,
.replies_tab {
  width: 50%;
  padding: 5px 15px;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    background-color: #66b8f746;
  }
}

.active {
  border-bottom: 4px solid $primaryColor;
}

.following_btn {
  background-color: $primaryColor;
  color: $whiteColor;
}

#avatarPreviewContainer {
  // width: 100%;
}
#avatarPreview {
  width: 100%;
}

#coverPreviewContainer {
  // width: 100%;
}
#coverPreview {
  width: 100%;
}

.btns_wrapper {
  display: flex;
}
.pinButton {
  margin-right: 10px;
}

.pin_active {
  i {
    color: blue;
  }
}

.pinTweet {
  border: 5px solid $lightColor;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 15px;
}

#updateAvatarInput,
#updateCoverInput {
  margin: 15px;
}
