$lightColor: #eff1f1;
$primaryColor: #50abf1;
$whiteColor: #ffffff;
$grayColor: rgb(163, 162, 162);
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #50abf1;
}
a {
  text-decoration: none;
}
#logout_btn {
  color: $lightColor;
}

.active_status {
  height: 16px;
  width: 16px;
  right: 10px;
  background-color: $grayColor;
  top: 90px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $whiteColor;
  &::after {
    content: attr(data-active_status);
    font-size: 14px;
    white-space: nowrap;
    background-color: $lightColor;
    position: absolute;
    box-shadow: 2px 2px 3px 0px $grayColor;
    visibility: hidden;
    left: 24px;
    top: -6px;
    padding: 3px 5px;
    border-radius: 2px;
  }
  &::before {
    content: '';
    font-size: 10px;
    white-space: nowrap;
    background-color: $lightColor;
    position: absolute;
    // box-shadow: 2px 2px 3px 0px $grayColor;
    visibility: hidden;
    height: 15px;
    width: 15px;
    left: 16px;
    top: 1px;
    transform: rotate(45deg);
  }
}
.active_status:hover::after,
.active_status:hover::before {
  visibility: visible;
}

.active_status.online {
  background-color: rgb(4, 180, 57);
}

.img {
  position: relative;
  overflow: visible;
}
.tweet_active_status {
  right: 0px;
  top: 27px;
  width: 12px;
  height: 12px;
  &::after {
    left: 21px;
    top: -9px;
  }
  &::before {
    left: 14px;
    top: -3px;
  }
}

.modal_active_status {
  left: 20px;
  top: 15px;
  width: 12px;
  height: 12px;
  &::after {
    left: 21px;
    top: -9px;
  }
  &::before {
    left: 14px;
    top: -3px;
  }
}
