$lightColor: #eff1f1;
$primaryColor: #50abf1;
$whiteColor: #ffffff;
$grayColor: gray;
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #50abf1;
}
a {
  text-decoration: none;
}
