.chat_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: calc(100% - 50px);
}

.chat_header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eff1f1;
  padding: 15px;
}
.chat_header .chat_image {
  margin-right: 10px;
  display: flex;
  position: relative;
}
.chat_header .chat_image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #eff1f1;
}
.chat_header .chat_image span {
  width: 40px;
  height: 40px;
  background-color: #50abf1;
  color: #eff1f1;
  border-radius: 50%;
  border: 2px solid #eff1f1;
  text-align: center;
  line-height: 40px;
}
.chat_header .chat_image .other_image {
  margin-left: -15px;
}
.chat_header .chat_name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat_message {
  flex-grow: 1;
  padding: 15px;
}

.chat_footer {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.chat_footer textarea {
  border: none;
  outline: none;
  flex-grow: 1;
  resize: unset;
  font-size: 20px;
  background-color: #eff1f1;
  border-radius: 25px;
  margin-right: 10px;
  padding: 10px 15px;
}
.chat_footer button {
  border: none;
  font-size: 22px;
  color: #50abf1;
  background-color: unset;
}