.create_chat_container {
  display: flex;
  align-items: center;
  background-color: #eff1f1;
  border-radius: 50px;
  padding: 5px;
  margin: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.176);
}
.create_chat_container label {
  margin-left: 15px;
}
.create_chat_container input {
  border: 0;
  outline: 0;
  background-color: unset;
  width: 100%;
  margin: 5px 5px 5px 10px;
  font-size: 20px;
}
.create_chat_container button {
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #50abf1;
  color: #eff1f1;
}

#selected_users {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.selected_user {
  padding: 3px 5px;
  background-color: #eff1f1;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 5px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.347);
}
.selected_user img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.selected_user button {
  border: none;
  outline: none;
  background-color: rgba(32, 31, 31, 0.509);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-left: 3px;
}
.selected_user button i {
  font-size: 12px;
  display: block;
  color: #eff1f1;
  pointer-events: none;
}