.avatar {
  height: 40px;
  width: 40px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.follow_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(213, 211, 211);
  padding: 10px;
  transition: 0.1s;
}

.follow_list:hover {
  background-color: rgba(178, 216, 245, 0.2392156863);
}

.follow_profile {
  display: flex;
  align-items: center;
}

.follow_name {
  margin-left: 10px;
}
.follow_name a {
  color: black;
}
.follow_name span {
  color: gray;
}

.fl_btn {
  border: 1px solid #50abf1;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  color: #50abf1;
  background-color: unset;
  transition: 0.3s;
}

.following_btn {
  background-color: #50abf1;
  color: #ffffff;
}