*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main_container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
}

.left_container {
  flex-basis: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.left_container .left_top {
  flex: 1;
}
.left_container .left_top .logo_area {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.left_container .left_top .logo_area a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.3s;
}
.left_container .left_top .logo_area a i {
  color: #50abf1;
  font-size: 30px;
  padding: 10px;
}
.left_container .left_top .logo_area a:hover {
  background-color: #eff1f1;
}
.left_container .left_top .menu_area {
  width: 100%;
}
.left_container .left_top .menu_area nav.nav {
  display: inline-block;
}
.left_container .left_top .menu_area nav.nav a.nav_link {
  display: flex;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  color: #000;
  transition: 0.1s;
}
.left_container .left_top .menu_area nav.nav a.nav_link span.more i {
  border: 2px solid black;
  border-radius: 50%;
  padding: 0 1px;
}
.left_container .left_top .menu_area nav.nav a.nav_link > span {
  margin-right: 12px;
  position: relative;
}
.left_container .left_top .menu_area nav.nav a.nav_link > span span {
  position: absolute;
  left: 12px;
  top: -3px;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #50abf1;
  color: #ffffff;
}
.left_container .left_top .menu_area nav.nav a.nav_link:hover {
  background-color: #eff1f1;
}
.left_container .left_top .see_more {
  cursor: pointer;
}
.left_container .left_top .tweet_btn a button {
  background-color: #50abf1;
  margin-top: 10px;
  color: #ffffff;
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 25px;
}
.left_container .left_bottom {
  flex-basis: 100px;
  display: flex;
  align-items: center;
}
.left_container .left_bottom .user_area {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 10px 15px;
  transition: 0.1s;
}
.left_container .left_bottom .user_area:hover {
  background-color: #eff1f1;
}
.left_container .left_bottom .user_area .user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.left_container .left_bottom .user_area .user_avatar img {
  width: 100%;
  height: 100%;
}
.left_container .left_bottom .user_area .user_name {
  flex: 1;
  margin: 0 10px;
}
.left_container .left_bottom .user_area .user_name h6 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left_container .left_bottom .user_area .user_dot_btn {
  display: flex;
}

.middle_container {
  flex-basis: 700px;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  border: 2px solid #eff1f1;
}
.middle_container .tweet_heading_wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 15px;
}
.middle_container .create_tweet_wrapper {
  display: flex;
  width: 100%;
  padding: 15px;
}
.middle_container .create_tweet_wrapper .avatar_area .img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.middle_container .create_tweet_wrapper .avatar_area .img img {
  width: 100%;
  height: 100%;
}
.middle_container .create_tweet_wrapper .tweet_area {
  flex-grow: 1;
}
.middle_container .create_tweet_wrapper .tweet_area .post_visibility {
  display: flex;
  padding-bottom: 12px;
}
.middle_container .create_tweet_wrapper .tweet_area .post_visibility button {
  border: 1px solid black;
  padding: 2px 10px;
  outline: none;
  border-radius: 25px;
  font-size: 13px;
  font-weight: bold;
  background-color: unset;
}
.middle_container .create_tweet_wrapper .tweet_area .post_visibility button i {
  margin-left: 5px;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet {
  padding: 12px 0;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet textarea {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 5px;
  font-size: 20px;
  resize: unset;
  height: 50px;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container {
  width: 100%;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container .output_image_inner_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: 100%;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container .output_image_inner_container .img_div {
  position: relative;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container .output_image_inner_container .img_div span {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.372);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container .output_image_inner_container .img_div span:hover {
  background-color: rgba(0, 0, 0, 0.42);
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container .output_image_inner_container .img_div span i {
  color: #ffffff;
  pointer-events: none;
}
.middle_container .create_tweet_wrapper .tweet_area .create_tweet .output_image_container .output_image_inner_container img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  max-height: 200px;
}
.middle_container .create_tweet_wrapper .tweet_area .replay_tweet {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 2px solid #eff1f1;
}
.middle_container .create_tweet_wrapper .tweet_area .replay_tweet i {
  margin-right: 6px;
}
.middle_container .create_tweet_wrapper .tweet_area .replay_tweet span {
  font-weight: 600;
}
.middle_container .create_tweet_wrapper .tweet_area .tweet_options_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
.middle_container .create_tweet_wrapper .tweet_area .tweet_options_wrapper .tweet_options i {
  font-size: 30px;
  cursor: pointer;
}
.middle_container .create_tweet_wrapper .tweet_area .tweet_options_wrapper .tweet_btn button {
  border: none;
  outline: none;
  background-color: #50abf1;
  color: #ffffff;
  font-weight: 500;
  padding: 7px 18px;
  border-radius: 25px;
}
.middle_container .create_tweet_wrapper .tweet_area .tweet_options_wrapper .tweet_btn .dis_btn {
  background-color: #a3cff0;
  cursor: not-allowed;
}
.middle_container .tweet_container {
  width: 100%;
}
.middle_container .tweet_container .retweet_tag {
  margin-top: 10px;
  margin-left: 5px;
}
.middle_container .show_all_tweet {
  text-align: center;
  border-top: 2px solid #eff1f1;
  border-bottom: 2px solid #eff1f1;
}
.middle_container .show_all_tweet button {
  padding: 12px;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: unset;
}

.tweet {
  border-bottom: 1px solid #eff1f1;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
}
.tweet .tweet_profile_img .img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.tweet .tweet_profile_img .img img {
  width: 100%;
  height: 100%;
}
.tweet .tweet_content_wrapper {
  width: 100%;
  background-color: #eff1f1;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.tweet .tweet_content_wrapper .tweet_user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet .tweet_content_wrapper .tweet_user a.name {
  color: rgb(86, 85, 85);
  font-weight: bold;
}
.tweet .tweet_content_wrapper .tweet_user a.name:hover {
  text-decoration: underline;
}
.tweet .tweet_content_wrapper .tweet_user .username,
.tweet .tweet_content_wrapper .tweet_user .time {
  color: gray;
}
.tweet .tweet_content_wrapper .tweet_content {
  margin-bottom: 15px;
  font-size: 18px;
}
.tweet .tweet_content_wrapper .tweet_images_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 3px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.tweet .tweet_content_wrapper .tweet_images_wrapper div.img {
  width: 100%;
}
.tweet .tweet_content_wrapper .tweet_images_wrapper div.img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.tweet .tweet_content_wrapper .tweet_images_wrapper div.img img:hover {
  cursor: pointer;
}
.tweet .tweet_content_wrapper .tweet_activities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.tweet .tweet_content_wrapper .tweet_activities button {
  position: relative;
  border: none;
  outline: none;
}
.tweet .tweet_content_wrapper .tweet_activities button i {
  color: gray;
  pointer-events: none;
}
.tweet .tweet_content_wrapper .tweet_activities button span {
  pointer-events: none;
}
.tweet .tweet_content_wrapper .tweet_activities button::after {
  content: attr(data-tag);
  display: none;
  padding: 1px 5px;
  background-color: gray;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 39px;
  color: #ffffff;
}
.tweet .tweet_content_wrapper .tweet_activities button:hover::after {
  display: block;
}
.tweet .tweet_content_wrapper .tweet_activities button.like.active i,
.tweet .tweet_content_wrapper .tweet_activities button.like.active span {
  color: red;
}
.tweet .tweet_content_wrapper .tweet_activities button.retweet.active i,
.tweet .tweet_content_wrapper .tweet_activities button.retweet.active span {
  color: rgb(16, 125, 48);
}

.right_container {
  flex-basis: 250px;
  width: 100px;
  min-height: 100vh;
}

.create_replay_wrapper {
  padding: 0 15px 15px;
  display: flex;
}
.create_replay_wrapper .replay_area {
  flex: 1;
}
.create_replay_wrapper .avatar_area {
  margin-right: 10px;
}
.create_replay_wrapper .avatar_area .img {
  width: 27px;
  height: 27px;
  overflow: hidden;
  border-radius: 50%;
}
.create_replay_wrapper .avatar_area .img img {
  width: 100%;
  height: 100%;
}
.create_replay_wrapper .replay_area .create_replay textarea {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 5px;
  font-size: 16px;
  resize: unset;
  height: 40px;
  border-bottom: 1px solid #eee;
}
.create_replay_wrapper .replay_area .replay_options_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0 15px;
}
.create_replay_wrapper .replay_area .replay_options_wrapper .replay_btn button {
  border: none;
  outline: none;
  background-color: #50abf1;
  color: #ffffff;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 25px;
}
.create_replay_wrapper .replay_area .replay_options_wrapper .replay_btn .dis_btn {
  background-color: #a3cff0;
  cursor: not-allowed;
}

.replay_image_container {
  width: 100%;
}
.replay_image_container .replay_image_inner_container {
  display: flex;
  gap: 10px;
  width: 100%;
}
.replay_image_container .replay_image_inner_container .img_div {
  position: relative;
}
.replay_image_container .replay_image_inner_container .img_div span {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.372);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
}
.replay_image_container .replay_image_inner_container .img_div span:hover {
  background-color: rgba(0, 0, 0, 0.42);
}
.replay_image_container .replay_image_inner_container .img_div span i {
  color: #ffffff;
  pointer-events: none;
}
.replay_image_container .replay_image_inner_container img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  max-height: 100px;
}

.replayingFlag {
  border-bottom: 1px solid rgb(188, 188, 188);
  padding-bottom: 5px;
}

.left_bottom {
  position: relative;
}

#logout_btn {
  position: absolute;
  right: 0;
  top: -25px;
  background-color: rgb(243, 101, 101);
}