body {
  background-color: #50abf1;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

.login_container {
  width: 400px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.login_wrapper {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

form label {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-top: 15px;
  display: none;
}

.error {
  color: red;
  font-size: 13px;
}

input[type=submit] {
  background-color: #1da1f2;
  color: #fff;
}

input[type=file] {
  background-color: #e9ecef;
  color: inherit;
}

form input {
  border: none !important;
  border-bottom: 2px solid lightgrey !important;
  margin-top: 20px;
}

form p {
  margin: 0;
}

.username_area .login_username {
  padding-left: 35px;
}

.password_area .login_password {
  padding-left: 35px;
}

.username_area {
  position: relative;
}

#userIcon {
  position: absolute;
  left: 5px;
  top: 12px;
}

.password_area {
  position: relative;
}

#passIcon {
  position: absolute;
  left: 5px;
  top: 12px;
}

#passEyeIcon {
  position: absolute;
  right: 5px;
  top: 12px;
}

.login_bottom_link {
  display: flex;
  justify-content: space-between;
}