.chat_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
}

.chat_item {
  display: flex;
  border-bottom: 1px solid #eff1f1;
  padding: 5px;
  margin-bottom: 5px;
}
.chat_item:hover {
  background-color: rgba(122, 193, 247, 0.3411764706);
}

.chat_image {
  margin-right: 10px;
  display: flex;
  position: relative;
}
.chat_image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #eff1f1;
}

div.chat_image.group_chat_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #eff1f1;
}
div.chat_image.group_chat_image .other_image {
  margin-top: 10px;
  margin-left: -20px;
}

.sub_text {
  color: gray;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}