.password_area {
  position: relative;
}

.password_area i {
  position: absolute;
  right: 5px;
  top: 32px;
  cursor: pointer;
}

#passErrors,
#confirmPassErrors {
  color: red;
  margin-top: 5px;
}