extends ../layouts/header.pug
block css
    link(rel="stylesheet", href="/css/index.css")
    
block bodyContent
    img(src="./images/logo.png", alt="twitter logo" width="300")
    h1 Welcome To Twitter Clone Project

                