extends ../layouts/header.pug

block title
    title= title
block css
    link(rel="stylesheet", href="/css/login.css")

block js
    script(src="/js/login.js" defer)


block bodyContent
    .login_container
        .login_wrapper
            h3.text-secondary Login 
            form(action="/login" method="post")
                
                
                //- email field
                input(type="text" name="email" id="email" placeholder="Username or email" class="form-control" value= user? user.email: '')
                if error && error.email
                    p(class="error email_error") #{error.email.msg+"*"}
                    //- password field
                .password_area
                    input(type="password" name="password" id="password" placeholder="Password" class="form-control" value= user && !error.password? user.password: "")
                    i#passEyeIcon(class="fa-regular fa-eye")
                if error && error.password
                    p(class="error email_error") #{error.password.msg+"*"}
                //- submit field
                input(type='submit' name="submit" value="Login" id="login" class="form-control my-4" )

                div.login_bottom_link.px-2 
                    p New user? 
                        a(href="/register") Register here
                    p |
                    a(href="/reset-password") Forgot password?


            
    
