extends ../layouts/header.pug

block title
    title= title
block css
    link(rel="stylesheet", href="/css/login.css")
block js
    script(src="/js/login.js" defer) 
block bodyContent
    .login_container
        .login_wrapper
            h3.text-secondary Login 
            form(action="/login" method="post")
                
                label(for="email") 
                    b Username or Email
                
                input(type="text" name="email" id="email" placeholder="Username or email" class="form-control" value= user? user.email: '')
                //- i.fa-solid.fa-user
                if error && error.email
                    p(class="error email_error") #{error.email.msg+"*"}


                label(for="password") 
                    b Password 
                input(type="password" name="password" id="password" placeholder="Password" class="form-control" value= user && !error.password? user.password: "")
                if error && error.password
                    p(class="error email_error") #{error.password.msg+"*"}
            
                input(type='submit' name="submit" value="Login" id="login" class="form-control my-4" )

                div.login_bottom_link.px-2 
                    p New user? 
                        a(href="/register") Register here
                    p |
                    a(href="/reset-password") Forgot password?


            
    
